*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); */
    background-image:url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(4px);
        -webkit-filter: blur(4px); */
}
header{
    /* height: auto; */
    padding: 5%;
}
body{
    /* width: 100%; */
    margin-left: 9%;
    height: auto;
    opacity: 1;
    justify-content: center;
    
}
main{
    margin: auto;
    justify-content: center;
}
footer{
    position: fixed;
    bottom: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

img .bin{
    width: 30%;
    height: auto;
    z-index: 2;
}
img{
    width: 8vw;
    height: auto;
    margin-left: 5vw;
}

@media screen and (max-width: 410px){ 
    body{
        margin: 0;
        padding: 0;
    }
    header{
        height: 10%;
    }
    main{  
        margin-top: auto 30%;

        justify-content: center; 
    }
    img{
        width: 16vw;
        height: auto;
        margin: 5%
    }
}