*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.txt{
    margin: 0;
    top: 45%;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    position: relative;
    font-family: 'Comfortaa', cursive;
    color: white;
    /* backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); */
    animation-name: scaleTxt;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    font-size: 0em;
} 
#socialMsg{
    animation-delay: 37s;
    text-shadow: 2px 2px 4px #333;
}
@keyframes scaleTxt {
    from{
        font-size: 0;
    }to{
        font-size: 3em;
    }
}
.container{
    width: 100%;
    height: 100vh;
    /* background-image:url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    justify-content: center;
}
#bg1{
    background-color: black;
    z-index: 2;
    animation-name: changeBg;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    justify-content: center;
}
#bg2{
    /*background-image:url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
     filter: blur(4px);
    -webkit-filter: blur(4px);  */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 1;

    animation-name: stack;
    animation-delay: 30s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#bg3{
    background-image:url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    z-index: 0;
    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
}
h1{
    text-align: center;  
    text-shadow: 0px 4px 8px #333;
}
@keyframes switchBg{
    0%{
        background-color: black;
    }
    30%{

        /* background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"); */
        background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    100%{
        background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    }
}
@keyframes stack{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
@keyframes changeBg {
    from {opacity: 1; z-index: 2;}
    to {opacity: 0; z-index: -1;}
}
main{
    width: 100%;
    /* height: 80%; */
    margin: 0;
    padding-left: 10%;
    justify-content: center;
    /* background-color: #ffffff10; */
    /* backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);*/
}
footer{
    padding-bottom: 5vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    justify-content: center;
    padding-left: 10%;
}

img {
    opacity: 0.7;
}

img {
    width: 7vw;
    height: auto;
    margin-left: 5vw;
}
.waste{
    text-shadow: 2px 2px 4px #000000;
    margin-top: 2vh;
}

img:hover{
    opacity: 1;
    transform: scale(1.15);
    -webkit-filter: drop-shadow(0 0 .7em #f9faf1);
    filter: drop-shadow(0 0 .7em hsl(0, 0%, 97%));
}


/* feedback | msg */
.msg {
    height: fit-content;
    color: black;
    position: relative;
    animation: emojiMove 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    display: none;
    }

    @keyframes emojiMove {
    from {top: -140px; opacity: 1}
    to {top: -250px; opacity: 0;}
    }

    @media screen and (max-width: 410px){
    body{
        cursor: ;
    }
}